body{
	background-color: #B0D4BF;
	background-image: url("img/bg.png");
	background-repeat: repeat;
	font-family: 'Raleway', sans-serif;
}

h1{
	font-family: 'Anton', sans-serif;
	font-size: 3.2rem !important;
}

p > a{
	color: #ec407a;
}

img{
	width: 3rem;
	height: 3rem;
}

#arena{
	border: 1px solid black;
}

#about{
	float: left;
	width: 25vw;
	height: 100vh;
	background-color: white;
}

#about-small{
	margin-bottom: 0;
}

#sidenav a{
	position: absolute;
	right: 2px;
	padding: 15px;
	width: 110px;
	border-radius: 10px 0 0 10px;
	color: #ec407a;
}

#sidenav a:hover{
	text-decoration: underline;
}

#sidenav > .active{
	color: white;
	background-color: #ec407a;
	width: 120px;
}

#single{
	top: 40px;
	background-color: white;
}

#multi{
	top: 100px;
	background-color: white;
}

#pontuacao, #recorde, #pontuacao1, #pontuacao2{
	font-size: 1.5rem;
	margin: 0;
}

#right{
	justify-content: flex-end;
}

.score{
	width: 156px;
	padding: .25rem .75rem !important;
}

.flex{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flex-row{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.btn{
	background-color: #50956d !important;
	margin-top: 2rem;
}

.padding{
	padding: 1em;
}

.flex > img{
	width: 15vw;
	height: 15vw;
	border-radius: 50%;
	object-fit: cover;
}

.flex-row > img{
	width: 24px;
	height: 24px;
	margin-right: 8px;
}

.row:nth-child(2){
	margin-bottom: 8px;
	border: 1px dashed black;
}

@media only screen and (max-width: 992px) {
  .flex > img{
    width: 12rem;
	height: 12rem;
  }
}